.btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: #918e8e;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px 0px rgb(0, 0, 0);
  transition: all 0.3s ease;
  transform: scale(1);
}

.btnHidden {
  position: fixed;
  transform: scale(0);
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
}

.btn:hover {
  box-shadow: 0 0 3px 3px white;
  color: white;
}
.btn:active {
  transform: scale(1.1);
}
