.element {
  max-width: 390px;
  background: #363636;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.element:hover {
  box-shadow: 0 0 5px 0px #08fdd8;
  transform: scale(1.01);
}

.imgContainer {
  position: relative;
  height: 260px;
  width: 100%;
  overflow: hidden;
}
.imgContainer:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}
.imgContainer a {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  color: black;
  width: 120px;
  height: 120px;
  padding: 10px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #08fdd8;
  z-index: 1;
  font-weight: 400;
  transition: all 0.3s ease;
}
.imgContainer:hover a {
  transform: translate(-50%, -50%) scale(1);
}
.imgContainer:hover a:hover {
  transform: translate(-50%, -50%) scale(1);
  cursor: pointer;
}

.imgContainer img {
  position: absolute;
  top: 0;
  left: center;
  /* object-fit: cover; */
  width: 100%;
}

.textBlock {
  padding: 25px 30px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.textBlock__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.textBlock__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 26px;
  text-align: center;
  color: #cccccc;
  margin-bottom: 15px;
}
.textBlock__decr {
  flex: 1 1 auto;
  margin-bottom: 20px;
}

.textBlock__decr,
.textBlock__stack {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #cccccc;
}

.textBlock__stack {
  font-weight: 400;
}

.textBlock__stack span {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
  display: inline-block;
}

.textBlock__footer {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: underline;
}
.footer__img {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.linkGithub:hover,
.linkPreview:hover {
  color: #08fdd8;
  text-decoration-line: underline;
}

/* ---------------- media ----------------------- */
@media (max-width: 1980px) {
  .textBlock {
    padding: 20px 25px;
  }
  .textBlock__title {
    font-size: 26px;
  }
  .textBlock__decr,
  .textBlock__stack {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (max-width: 845px) {
  .element {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 500px;
  }
}
@media (max-width: 420px) {
  .textBlock {
    padding: 20px 15px;
  }
  .textBlock__decr,
  .textBlock__stack {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 350px) {
  .textBlock__title {
    font-size: 22px;
  }
}
