.profileInfo {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  color: #e0e0e0;
  padding: 0 10px;
}

.textBlock {
  max-width: 670px;
  margin-right: 40px;
}

.textBlock > span {
  font-size: 39px;
  line-height: 46px;
  margin-bottom: 10px;
  display: inline-block;
}

h1 {
  font-size: 78px;
  line-height: 91px;
  letter-spacing: 0.1em;
  color: #08fdd8;
  margin-bottom: 50px;
}

.subTitle {
  font-size: 57px;
  line-height: 67px;
  margin-bottom: 20px;
  color: #dbdbdb;
}

.experience {
  display: flex;
  margin-bottom: 20px;
}

.experience__elem {
  margin-right: 35px;
  font-size: 27px;
  line-height: 32px;
  color: #828282;
  display: flex;
  align-items: center;
}

.experience__elem:last-child {
  margin-right: 0;
}

.experience__elem span {
  margin-right: 10px;
  font-size: 86px;
  line-height: 101px;
  color: #4f4f4f;
}

.photoBlock {
  width: 550px;
  height: 550px;
  position: relative;
  perspective-origin: center;
}

.photoBackground {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  box-shadow: 0px 5px 34px 2px rgba(0, 0, 0, 0.25);
  animation: bg 1s linear 0s infinite alternate;
  padding: 10px;
}

.photoBackground img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Balls start */
.photoBlock::before,
.photoBlock::after,
.photoBackground:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.photoBlock::before {
  background: #bdbdbd;
  width: 10px;
  height: 10px;
  right: -5%;
  top: 65%;
  animation-name: white-ball;
  animation-delay: -0.2s;
}

.photoBlock::after {
  background: #4f4f4f;
  width: 23px;
  height: 23px;
  left: 0;
  top: 15%;
  animation-name: grey-ball;
  animation-delay: -0.4s;
}

.photoBackground:before {
  background: #1b1b1b;
  width: 31px;
  height: 31px;
  right: 0;
  top: 0;
  animation-name: black-ball;
}

@keyframes white-ball {
  0% {
    right: -5%;
    top: 65%;
  }

  100% {
    right: -4.5%;
    top: 64.5%;
    transform: scale(1.2);
  }
}

@keyframes grey-ball {
  0% {
    left: 0;
    top: 15%;
  }

  100% {
    left: 1%;
    top: 16%;
    transform: scale(1.2);
  }
}

@keyframes black-ball {
  0% {
    right: 0;
    top: 0;
  }

  100% {
    right: 1%;
    top: 1%;
    transform: scale(1.2);
  }
}

/* Balls end */

/* Icons start */
.iconBackground {
  position: absolute;
  background: #333333;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBackground img {
  object-fit: contain;
  width: 60%;
}

.reactIcon {
  width: 155px;
  height: 155px;
  bottom: 10%;
  left: 0px;
  animation: react 1s linear -0.2s infinite alternate;
}

@keyframes react {
  0% {
  }

  100% {
    transform: scale(1.05);
  }
}

.TSIcon {
  width: 125px;
  height: 125px;
  right: 0;
  bottom: 5%;
  animation: ts 1s linear 0s infinite alternate;
}

@keyframes ts {
  0% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(3deg);
  }
}

.htmlIcon {
  width: 115px;
  height: 115px;
  right: 0;
  top: 15%;
  animation: html 2s ease 0s infinite alternate;
}
@keyframes html {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(-1, 1);
  }
}

.reactIcon img {
  width: 80%;
}

/* Icons end */

/* ---------------- media ----------------------- */
@media (max-width: 1980px) {
  .profileInfo {
    max-width: 1200px;
    margin-bottom: 130px;
  }
  .textBlock > span {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 40px;
  }

  .subTitle {
    font-size: 47px;
    line-height: 57px;
    margin-bottom: 20px;
  }
  .experience__elem {
    margin-right: 30px;
    font-size: 24px;
    line-height: 30px;
  }
  .experience__elem span {
    margin-right: 10px;
    font-size: 66px;
    line-height: 80px;
    color: #4f4f4f;
  }

  .photoBlock {
    width: 450px;
    height: 450px;
    margin-right: 10px;
  }

  .photoBlock::after {
    width: 20px;
    height: 20px;
  }

  .photoBackground:before {
    width: 27px;
    height: 27px;
  }
  .reactIcon {
    width: 125px;
    height: 125px;
  }
  .TSIcon {
    width: 100px;
    height: 100px;
  }

  .htmlIcon {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 1200px) {
  .experience {
    display: block;
  }
  .photoBlock {
    margin-right: 0px;
  }
}
@media (max-width: 1000px) {
  .profileInfo {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .textBlock {
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .experience {
    display: flex;
  }
}
@media (max-width: 650px) {
  .experience {
    display: block;
  }
}
@media (max-width: 520px) {
  .profileInfo {
    margin-bottom: 30px;
  }
  .photoBlock {
    width: 320px;
    height: 320px;
  }
  .photoBlock::after {
    width: 15px;
    height: 15px;
  }
  .photoBlock::before {
    width: 6px;
    height: 6px;
  }
  .photoBackground:before {
    width: 23px;
    height: 23px;
  }
  .reactIcon {
    width: 100px;
    height: 100px;
  }
  .TSIcon {
    width: 75px;
    height: 75px;
  }

  .htmlIcon {
    width: 65px;
    height: 65px;
  }
  .textBlock > span {
    font-size: 26px;
    line-height: 41px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .subTitle {
    font-size: 35px;
    line-height: 57px;
    margin-bottom: 20px;
  }
  .experience__elem {
    margin-right: 0px;
    font-size: 20px;
    line-height: 26px;
  }
  .experience__elem span {
    margin-right: 10px;
    font-size: 56px;
    line-height: 70px;
    color: #4f4f4f;
  }
}
@media (max-width: 520px) {
  .photoBlock {
    width: 260px;
    height: 260px;
  }
}
